body {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
}

.auth-form-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 10px;
  margin: 0.5rem;
}

.auth-form-container h2 {
  margin-bottom: 1.5rem;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input,
select {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

.form-sections-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

button[type="submit"] {
  background-color: #7439db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1.5rem;
}

button[type="submit"]:hover {
  background-color: #6344c4;
}

.link-btn {
  background: none;
  border: none;
  text-decoration: underline;
  color: aliceblue;
  cursor: pointer;
}
